@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: 'Exo', sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#000505), to(black));
  background: linear-gradient(to top, #000505, black);
}

.whiteText {
  color: white;
}

.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.s1 h1 {
  z-index: 2;
  font-size: 10vw;
  line-height: 9vw;
  color: white;
  color: white;
  text-shadow: 0 0 6vw #008cff;
}

.goal {
  color: white;
  text-shadow: 0 0 1vw #008cff;
  font-weight: 200;
  font-size: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title {
  color: white;
  text-shadow: 0 0 1vw #008cff;
  font-weight: 200;
  font-size: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team .tiles {
  color: black;
  min-height: 100vh;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3vw;
}

.team .middle {
  position: absolute;
  color: aliceblue;
  text-align: center;
}

.team a {
  text-decoration: none;
  color: white;
}

.team .profile {
  padding: 2vw;
  border-radius: 2vw;
  height: 60vh;
  background: black;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.team .profile:hover {
  -webkit-box-shadow: 0vw 0vw 2vw #008cff;
          box-shadow: 0vw 0vw 2vw #008cff;
}

.team .profile .img {
  height: 40vh;
  width: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5vw;
  background: black;
  border-radius: 50%;
}

.team .profile .img img {
  height: inherit;
  border-radius: 50%;
}

.team .profile h1 {
  font-size: 5vh;
}

.team .profile h4 {
  font-size: 3vh;
  font-weight: 100;
  margin-top: -4vh;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.work .tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  color: aliceblue;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .tiles a {
  text-decoration: none;
  color: white;
}

.work .tiles .talent {
  background-color: black;
  height: 20vw;
  width: 20vw;
  font-size: 4vw;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.work .tiles .talent:hover {
  -webkit-box-shadow: 0vw 0vw 2vw #008cff;
          box-shadow: 0vw 0vw 2vw #008cff;
}

.end {
  margin-top: 5vw;
  height: 30vh;
  background: black;
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 1vh #008cff;
  font-weight: 100;
  font-size: 4vh;
  line-height: 6vh;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fade-_out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fade-_out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/*# sourceMappingURL=index.css.map */